<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script>
        let points = 0;
        let fang = 0;
        let egglingFang = 0;
        let sharpFang = 0;
        let hatchSpeed = 0;

        function increasePoints() {
            fetch('/increasePoints')
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Request failed");
                    }
                    return response.text();
                })
                .then(() => {
                    location.reload();
                })
                .catch(error => {
                    console.error("Error increasing points", error);
                });
        }

        function increaseFang() {
            fetch('/buyFang')
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error buying fang:", error));
        }

        function increaseEggling() {
            fetch('/hireEggling')
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error hiring eggling:", error));
        }

        function increaseSharpFang() {
            fetch('/buySharpFang')
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error buying fang:", error));
        }

        function increaseHatchSpeed() {
            fetch('/buyHatchSpeed')
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error buying hatch speed:", error));
        }


        function changePoints(value) {
            fetch('/setPoints?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting points:", error));
        }
        function changeFangCount(value) {
            fetch('/setFangCount?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting fangs:", error));
        }
        function changeEgglingCount(value) {
            fetch('/setEgglingCount?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting eggling:", error));
        }
        function changeSharpFangCount(value) {
            fetch('/setSharpFangCount?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting sharp fang upgrade:", error));
        }
        function changeHatchSpeedCount(value) {
            fetch('/setHatchSpeedCount?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting hatch speed upgrade:", error));
        }

        function fetchPoints() {
            fetch('/player/points')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('pointsDisplayValue').innerText = data;
                });
        }
        setInterval(fetchPoints, 5000);

        fetchPoints();

    </script>
</head>
<body style="background-color:#a83f29;">
<h2 style="text-align:center; font-size: 50px; color: orange; font-family:bradley hand, cursive;">Zpider clicker</h2>
<p>Current player: Name: <span th:text="${player.name}"></span> id: <span th:text="${player.id}"></span> </p>



<div class="container">
    <button onclick="location.href='/main'">Mainmenu</button>
    <button onclick="location.href='/stats'">Stats info</button>
    <button onclick="location.href='/'">Home</button>
    <button onclick="location.href='/player'">Account</button>
</div>

<h2 id="pointsDisplay" style="text-align:center; color:white;">Points: <span th:text="${player.pts}">0</span></h2>
<h2 id="fangDisplay" style="text-align:center; color:white;">Fang strength: <span th:text="${player.fangCount}">0</span></h2>
<h2 id="sharpFangsDisplay" style="text-align:center; color:white;">Fang sharpness: <span th:text="${player.sharpFangCount}">0</span></h2>
<h2 id="egglingFangDisplay" style="text-align:center; color:white;">Egglings: <span th:text="${player.egglingCount}">0</span></h2>
<h2 id="hatchSpeedDisplay" style="text-align:center; color:white;">HatchSpeedUpgrades: <span th:text="${player.hatchSpeedCount}">0</span></h2>


<h2 style="text-align:center;">
    <button style="background-color:#35be02;" onclick="increaseFang()">
        <h2 style="width:300px; color:white;">FangCount(+1 damage/click, cost 10pts)</h2>
    </button>
    <button style="background-color:#35be02;" onclick="increaseSharpFang()">
        <h2 style="width:300px; color:white;">Sharp Fangs(x2 fang strength, cost 100pts)</h2>
    </button>
    <button style="background-color:#ee0000;" onclick="increasePoints()">
        <h2 style="width:300px; color:white;">Chomp</h2>
    </button>
    <button style="background-color:#b5be02;" onclick="increaseEggling()">
        <h2 style="width:300px; color:white;">Egglings(+1 damage/10sec, cost 100pts)</h2>
    </button>
    <button style="background-color:#b5be02;" onclick="increaseHatchSpeed()">
        <h2 style="width:300px; color:white;">Hatch speed(-2s idle income from egglings, cost 50pts)</h2>
    </button>
</h2>

<h2 style="text-align:center">
    <button onclick="changePoints(50)">Set Points to 50</button>
    <button onclick="changePoints(10)">Set Points to 10</button>
    <button onclick="changePoints(0)">Set Points to 0</button>
    <button onclick="changeFangCount(0)">Set Fang to 0</button>
    <button onclick="changeFangCount(10)">Set Fang to 10</button>
    <button onclick="changeSharpFangCount(0)">Set sharp fang to 0</button>
    <button onclick="changeSharpFangCount(1)">Set sharp fang to 1</button>
    <button onclick="changeEgglingCount(0)">Set Egglings to 0</button>
    <button onclick="changeEgglingCount(10)">Set Egglings to 10</button>
    <button onclick="changeHatchSpeedCount(0)">Set Hatch speed to 0</button>
    <button onclick="changeHatchSpeedCount(10)">Set hatch speed to 10</button>
</h2>

</body>
</html>