<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script>
        let points = 0;
        let factory = 0;
        let factoryWorker = 0;

        function increasePoints() {
            fetch('/increasePoints')
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Request failed");
                    }
                    return response.text();
                })
                .then(() => {
                    location.reload();
                })
                .catch(error => {
                    console.error("Error increasing points", error);
                });
        }

        function increaseFactory() {
            fetch('/buyFactory')
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error buying factory:", error));
        }

        function increaseWorker() {
            fetch('/hireWorker')
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error hiring worker:", error));
        }


        function changePoints(value) {
            fetch('/setPoints?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting points:", error));
        }
        function changeFactories(value) {
            fetch('/setFactories?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting factories:", error));
        }
        function changeWorkers(value) {
            fetch('/setWorkers?value=' + value)
                .then(response => response.text())
                .then(() => location.reload())
                .catch(error => console.error("Error setting worker:", error));
        }
        function fetchPoints() {
            fetch('/player/points')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('pointsDisplayValue').innerText = data;
                });
        }
        setInterval(fetchPoints, 5000);

        fetchPoints();

    </script>
</head>
<body style="background-color:#2596be;">
<h2 style="text-align:center; font-size: 50px; color: orange; font-family:bradley hand, cursive;">Zlayer Zlick</h2>
<h4>Menu:</h4>


<div class="container">
    <button onclick="location.href='/main'">Go to Mainmenu</button>
    <button onclick="location.href='/stats'">Go to stats info</button>
    <button onclick="location.href='/'">Go to home</button>
</div>

<h2 id="pointsDisplay" style="text-align:center; color:white;">Points: <span id="pointsDisplayValue">0</span></h2>
<h2 id="factoryDisplay" style="text-align:center; color:white;">Factories: <span th:text="${player.factories}">0</span></h2>
<h2 id="factoryWorkerDisplay" style="text-align:center; color:white;">Workers: <span th:text="${player.workers}">0</span></h2>


<h2 style="text-align:center;">
    <button style="background-color:#630c0c;" onclick="increaseFactory()">
        <h2 style="width:300px; color:white;">Teeth(+1 damage/click, cost 10pts)</h2>
    </button>
    <button style="background-color:#630c0c;" onclick="increasePoints()">
        <h2 style="width:300px; color:white;">Chomp</h2>
    </button>
    <button style="background-color:#630c0c;" onclick="increaseWorker()">
        <h2 style="width:300px; color:white;">Offspring(+1 damage/10sec, cost 100pts)</h2>
    </button>
</h2>

<h2 style="text-align:center">
    <button onclick="changePoints(50)">Set Points to 50</button>
    <button onclick="changePoints(10)">Set Points to 10</button>
    <button onclick="changePoints(0)">Set Points to 0</button>
    <button onclick="changeFactories(0)">Set Factory to 0</button>
    <button onclick="changeFactories(10)">Set Factory to 10</button>
    <button onclick="changeWorkers(0)">Set Worker to 0</button>
    <button onclick="changeWorkers(10)">Set Worker to 10</button>
</h2>

</body>
</html>