<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zlayer Zlick</title>
</head>
<body>
<h4>this is the homepage</h4>


<button onclick="location.href='/main'">Go to Mainmenu</button>
<button onclick="location.href='/game'">Go to the game</button>
<button onclick="location.href='/stats'">Go to stats info</button>
<button onclick="location.href='/player'">Go to add character</button>

<h2 style="text-align:center;">
    <button style="background-color:#630c0c;" onclick="increaseFactory()">
        <h2 style="width:300px; color:white;">Teeth(+1 damage/click, cost 10pts)</h2>
    </button>
    <button style="background-color:#630c0c;" onclick="increasePoints()">
        <h2 style="width:300px; color:white;">Chomp</h2>
    </button>
    <button style="background-color:#630c0c;" onclick="increaseWorker()">
        <h2 style="width:300px; color:white;">Offspring(+1 damage/10sec, cost 100pts)</h2>
    </button>
</h2>


</body>
</html>