<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8; font-family:bradley hand, cursive;">
    <title>Mainmenu</title>
</head>
<body style="background-color:#2596be;">

<h2 style="text-align:center; font-size: 50px; color: orange; font-family:bradley hand, cursive;">Zlayer Zlick</h2>

<h2 style="text-align:center;"><button onclick="location.href='/game'" style="background-color:#630c0c;"><h2 style="width:300px">Play</h2></button></h2>

<h2 style="text-align:center;"><button onclick="location.href='/stats'" style="background-color:#630c0c;"><h2 style="width:300px">Stats</h2></button></h2>

<h2 style="text-align:center;"><button onclick="location.href='/logout'" style="background-color:#630c0c;"><h2 style="width:300px">Logout</h2></button></h2>

<button onclick="location.href='/game'">Go to the game</button>
<button onclick="location.href='/stats'">Go to stats info</button>
<button onclick="location.href='/'">Go to home</button>

<script>
    document.getElementById("pts").innerHTML = "points for click";
</script>
<!--
<button onclick="document.getElementById('demo').innerHTML = Date()">Test button</button>
<button onclick="document.getElementById('pts').innerHTML = alert('det du vill få ut')">Test pts buggtton</button>
<button onclick="document.getElementById('pts') = <h2>hello world</h2>">Test pts button x</button>

<button onclick="hello world">Test pts button 2</button>


<p id="pts">hello world 2</p>
<p id="demo"></p>
<img id="myImage" src="train-wreck-crash.gif">
<img id="myImage2" src="../images/Train.gif" style="width:100px">


<h2>Test break</h2>
<script>
    v
    </script>

<div style="text-align:center;width:480px;">
    <button onmousedown="move('up')" onmouseup="clearmove()" ontouchstart="move('up')">UP</button><br><br>
    <button onmousedown="move('left')" onmouseup="clearmove()" ontouchstart="move('left')">LEFT</button>
    <button onmousedown="move('right')" onmouseup="clearmove()" ontouchstart="move('right')">RIGHT</button><br><br>
    <button onmousedown="move('down')" onmouseup="clearmove()" ontouchstart="move('down')">DOWN</button>
</div>
-->
</body>
</html>